<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BirdWatcher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/birds_controller.js"></script>
</head>
<body>
  <h1>Birds of NY</h1>

  <div ng-controller="BirdsController as birds">
    <input type="text" ng-model="birds.new">
    <button ng-click="birds.add()">Spotted a bird? Add it!</button>
    <ul id="birds">
      <li ng-repeat="bird in birds.all">{{bird.name}}</li>
    </ul>
  </div>

</body>
</html>

